// Copy this file to backend.tf and replace placeholders before running terraform init
terraform {
  backend "s3" {
    bucket         = "<YOUR_TF_STATE_BUCKET_PROD>"
    key            = "clientflow/prod/terraform.tfstate"
    region         = "<AWS_REGION>"
    dynamodb_table = "<YOUR_TF_LOCK_TABLE_PROD>"
    encrypt        = true
  }
}
